<mat-card class="bg-darkest item-document" style="width: 400px;height: 300px;max-width: 270px;">
    <mat-card-header>
        <div class="bubble" name="no" class="text-danger" mat-card-avatar>
        </div>

        <button mat-icon-button style="position: absolute;right: 5px;top: 5px;" [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
        <mat-menu #menu="matMenu" class="bg-dark">
            <button mat-menu-item (click)="updateDocument()" style="color: white;">actualizar</button>
            <button mat-menu-item (click)="deleteDocument()" style="color: white;">eliminar</button>
        </mat-menu>
    </mat-card-header>
    <div class="text-center">
        <img mat-card-image style="height: 150px;width: 100%;" [src]="src_document">
    </div>
    <mat-card-content class="texto" style="font-size: small; margin-top: 10px;">
        <mat-card-title style="font-size: medium;color: #f44336;">{{asunto}}</mat-card-title>
        <p>{{fecha}}</p>
        <p>{{clasif}}</p>
    </mat-card-content>

    <mat-card-actions align="start">
        <!-- <button mat-button >Action1</button> -->
    </mat-card-actions>
</mat-card>