.contenedor {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    max-width: 600px;
}

.bg-darkest {
    background-color: rgba(37, 37, 37);
    color: whitesmoke;
}

.bg-warn {
    background-color: #f44336;
    color: white;
}
