<div class="modal-content bg-darkest" style="border: 0px;">
    <div class="modal-header bg-warn">
        <h2 class="modal-title">{{modal_action}} {{modalHeader}}</h2>
        <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close" (click)="actiModal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>{{modalmessage}}</p>

        <form>

            <div class="contenedor">
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Usuario</mat-label>
                    <input matInput #user maxlength="20" placeholder="Usuario" [(ngModel)]="usuario.user" (ngModelChange)="validarCambio()" name="user" required>
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-hint style="color: white;" align="end">{{user.value.length}} / 20</mat-hint>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Contraseña</mat-label>
                    <input matInput #password maxlength="20" placeholder="Password" [type]="hide1 ? 'password' : 'text'" [(ngModel)]="usuario.password" (ngModelChange)="validarCambio()" name="password" required>
                    <mat-icon matSuffix type="button" (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-hint style="color: white;" align="end">{{password.value.length}} / 20</mat-hint>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>confirmacion</mat-label>
                    <input matInput #confirma maxlength="20" placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="confirm" (ngModelChange)="validarCambio()" name="confirm" required>
                    <mat-icon matSuffix type="button" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-hint style="color: white;" align="end">{{confirma.value.length}} / 20</mat-hint>
                    <mat-hint style="color: #ff5722;" *ngIf="valid">las contraseñas no coinciden</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Nombre completo</mat-label>
                    <input matInput #full_name maxlength="50" placeholder="Nombre completo" [(ngModel)]="usuario.full_name" name="full_name" (ngModelChange)="validarCambio()" required>
                    <mat-icon matSuffix>text_fields</mat-icon>
                    <mat-hint style="color: white;" align="end">{{full_name.value.length}} / 50</mat-hint>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="outline" color="warn">
                    <mat-label style="color: white;">Asignar rol(es) al usuario</mat-label>
                    <mat-select [(ngModel)]="rol_usuario" name="roles" (selectionChange)="validarCambio()" multiple>
                        <mat-select-trigger style="color: white;font-size: 11px;">
                            {{rol_usuario ? rol_usuario[0].rol_name : ''}}
                            <span *ngIf="rol_usuario?.length > 1" class="example-additional-selection">
              (+{{rol_usuario.length - 1}} {{rol_usuario?.length === 2 ? 'other' : 'others'}})
            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let rol of roles" [value]="rol">{{rol.rol_name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="disable_register" mat-raised-button color="warn" flex data-dismiss="modal" (click)="ActionUsuario()">{{modal_action}} usuario</button>
    </div>

</div>