<div class="bg-dark full-container">
  <app-top-bar [modal_header]="title" [modal_icon]="icon" [modal_subheader]="subtitle"
    (emisor)="registerOrUpdate($event)">
  </app-top-bar>
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults" color="warn"></mat-spinner>
    <div class="example-rate-limit-reached" >
        {{server_message}}
    </div>
</div>
<div class="lista-document" *ngIf="!isLoadingResults">
  <mat-grid-list [cols]="breakpoint" rowHeight="1.5:2" (window:resize)="onResize($event)"  >
    <mat-grid-tile *ngFor="let item of documentos">
        <app-document-item [title]="item.title" [description]="item.descripcion" [date]="item.date" [src_document]="item.imagen" [id]="item.id"></app-document-item>
    </mat-grid-tile>
  </mat-grid-list>
</div>
</div>
