<div class="modal-content bg-darkest" style="border: 0px;">
    <div class="modal-header bg-warn">
        <h2 class="modal-title">{{modal_action}} {{modalHeader}}</h2>
        <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close" (click)="actiModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body" style="padding-top: 5px;">
        <form [formGroup]="form_document">
            <div class="contenedor">
                <img [src]="src_document" style="width: 100%;height: 150px;" class="img-thumbnail rounded " (click)="changeImage()">
                <div class="file-select" id="src-file1" style="cursor: pointer;" [hidden]="true">
                    <input id="imagefile" type="file" name="src-file1" aria-label="Imagen" style="cursor: pointer;" (change)="fileEvent($event)" accept="image/*">
                </div>
                <div>
                    <mat-form-field appearance="outline" color="warn">
                        <mat-label>No.</mat-label>
                        <input matInput #no maxlength="20" placeholder="No." formControlName="no" (ngModelChange)="validarCambio()" name="no" required>
                        <mat-icon matSuffix>title</mat-icon>
                        <mat-hint style="color: white;" align="end">{{no.value.length}} / 20</mat-hint>
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="warn">
                        <mat-label>Lugar</mat-label>
                        <input matInput #lugar maxlength="20" placeholder="Lugar" formControlName="lugar" (ngModelChange)="validarCambio()" name="lugar" required>
                        <mat-icon matSuffix>title</mat-icon>
                        <mat-hint style="color: white;" align="end">{{lugar.value.length}} / 20</mat-hint>
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                    <!-- <mat-form-field appearance="outline" color="warn">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="datepicker" formControlName="fecha" name="fecha">
                        <mat-datepicker-toggle style="color: white;" matSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancelar</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                    </mat-form-field> -->
                </div>

                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Titulo</mat-label>
                    <input matInput #titulo maxlength="20" placeholder="Titulo" formControlName="titulo" (ngModelChange)="validarCambio()" name="titulo" required>
                    <mat-icon matSuffix>title</mat-icon>
                    <mat-hint style="color: white;" align="end">{{titulo.value.length}} / 20</mat-hint>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>

                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Numero Registro</mat-label>
                    <input matInput #reg_no maxlength="20" placeholder="Numero Registro" formControlName="reg_no" (ngModelChange)="validarCambio()" name="reg_no" required>
                    <mat-icon matSuffix>title</mat-icon>
                    <mat-hint style="color: white;" align="end">{{reg_no.value.length}} / 20</mat-hint>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Categoria</mat-label>
                    <input matInput #categoria maxlength="20" placeholder="Categoria" formControlName="categoria" (ngModelChange)="validarCambio()" name="categoria" required>
                    <mat-icon matSuffix>title</mat-icon>
                    <mat-hint style="color: white;" align="end">{{categoria.value.length}} / 20</mat-hint>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Mat_no</mat-label>
                    <input matInput #mat_no maxlength="20" placeholder="Mat_no" formControlName="mat_no" (ngModelChange)="validarCambio()" name="mat_no" required>
                    <mat-icon matSuffix>title</mat-icon>
                    <mat-hint style="color: white;" align="end">{{mat_no.value.length}} / 20</mat-hint>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Numero de Folio</mat-label>
                    <input matInput #folio_no maxlength="20" placeholder="Numero de Folio" formControlName="folio_no" (ngModelChange)="validarCambio()" name="folio_no" required>
                    <mat-icon matSuffix>title</mat-icon>
                    <mat-hint style="color: white;" align="end">{{folio_no.value.length}} / 20</mat-hint>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Cantidad</mat-label>
                    <input matInput #cant maxlength="20" placeholder="Cantidad" formControlName="cant" (ngModelChange)="validarCambio()" name="cant" required>
                    <mat-icon matSuffix>title</mat-icon>
                    <mat-hint style="color: white;" align="end">{{cant.value.length}} / 20</mat-hint>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Numero de Ejemplar</mat-label>
                    <input matInput #no_ejemplar maxlength="20" placeholder="Numero de Ejemplar" formControlName="no_ejemplar" (ngModelChange)="validarCambio()" name="no_ejemplar" required>
                    <mat-icon matSuffix>title</mat-icon>
                    <mat-hint style="color: white;" align="end">{{no_ejemplar.value.length}} / 20</mat-hint>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Cantidad de Hojas</mat-label>
                    <input matInput #cant_hojas maxlength="20" placeholder="Cantidad de Hojas" formControlName="cant_hojas" (ngModelChange)="validarCambio()" name="cant_hojas" required>
                    <mat-icon matSuffix>title</mat-icon>
                    <mat-hint style="color: white;" align="end">{{cant_hojas.value.length}} / 20</mat-hint>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Destruccion</mat-label>
                    <input matInput #destruccion maxlength="20" placeholder="Destruccion" formControlName="destruccion" (ngModelChange)="validarCambio()" name="destruccion" required>
                    <mat-icon matSuffix>title</mat-icon>
                    <mat-hint style="color: white;" align="end">{{destruccion.value.length}} / 20</mat-hint>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Destino</mat-label>
                    <input matInput #destino maxlength="20" placeholder="Destino" formControlName="destino" (ngModelChange)="validarCambio()" name="destino" required>
                    <mat-icon matSuffix>title</mat-icon>
                    <mat-hint style="color: white;" align="end">{{destino.value.length}} / 20</mat-hint>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Comp</mat-label>
                    <input matInput #comp maxlength="20" placeholder="Comp" formControlName="comp" (ngModelChange)="validarCambio()" name="comp" required>
                    <mat-icon matSuffix>title</mat-icon>
                    <mat-hint style="color: white;" align="end">{{comp.value.length}} / 20</mat-hint>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="disable_register" mat-raised-button color="warn" flex data-dismiss="modal" (click)="ActionDocument()">{{modal_action}} documento</button>
    </div>

</div>
