<div class="bg-dark full-container">
    <app-top-bar [modal_header]="title" [modal_icon]="icon" [modal_subheader]="subtitle" (emisor)="registerOrUpdate($event)">
    </app-top-bar>

    <div class="row bg-darkest filtros mat-elevation-z4" style="padding: 10px;margin-top: 10px;margin-inline: 0px; height: 70px;">
        <div class="col-md-10">

        </div>
        <div class="col-md-2">
            <section style="position: absolute; right: 0;margin-right: 15px;">
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Filtrar por titulo</mat-label>
                    <input style="color: white;" matInput placeholder="Escriba criterio de busqueda ..." [(ngModel)]="filtro" name="filtro" (ngModelChange)="filtroAll()">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </section>
        </div>
    </div>

    <div class="lista-document" id="lista">
        <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
            <mat-spinner *ngIf="isLoadingResults" color="warn"></mat-spinner>
            <div class="example-rate-limit-reached" style="color: #f44336;" *ngIf="isRateLimitReached">
                {{server_message}}
            </div>
        </div>
        <mat-grid-list *ngIf="!isLoadingResults" [cols]="breakpoint" rowHeight="1.6:2" (window:resize)="onResize($event)">
            <mat-grid-tile *ngFor="let item of documentos">
                <app-documento-limitado-item></app-documento-limitado-item>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
