<div class="back bg-darkest mat-elevation-z4" style="color: black;">
    <mat-card>
        <mat-card-header>
            <mat-card-title>

            </mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <div class="row deep-orange" style="height: 35px;">
                <mat-icon style="font-size: 20px; padding-left: 10px;">{{modal_icon}}</mat-icon>
                <span style="font-size: 15px; padding-left: 10px;">{{modal_header}}</span>

                <button *ngIf="withAddButton" style="padding-left: 10px;" mat-raised-button color="warn" flex class="ml-auto icon-in-menu" (click)="openModal()">
          <mat-icon class="mat-18">add_box</mat-icon>Agregar {{modal_header}}
        </button>
            </div>

        </mat-card-content>
    </mat-card>
</div>
