<router-outlet *ngIf="!loading"></router-outlet>
<div class="example-loading-shade bg-darkest" *ngIf="loading">
    <div style="position: absolute; width: 150px;height: 150px; box-shadow: 2px 2px 2px 2px #dc3545;" class="rotated bg-darkest rounded-circle"></div>
    <div style="position: absolute;width: 130px;height: 130px; box-shadow: 2px 2px 2px 2px #0d6efd;rotate: 180deg;" class="rotated-faster bg-darkest rounded-circle"></div>
    <div style="position: relative;width: 100px;height: 100px; box-shadow: 2px 2px 2px 2px #f0f0f0;rotate: 270deg;" class="rotated-fasterfaster bg-darkest rounded-circle"></div>
</div>
