
<router-outlet *ngIf="!loading"></router-outlet>
<div class="example-loading-shade bg-darkest" *ngIf="loading">
    <div style="position: absolute;width: 150px;height: 150px; box-shadow: 2px 2px 2px 2px #dd5361;" class="rotated bg-darkest rounded-circle"></div>
    <div style="position: absolute;width: 130px;height: 130px; box-shadow: 2px 2px 2px 2px #5883c5;rotate: 180deg;" class="rotated-faster bg-darkest rounded-circle"></div>
    <div style="position: relative;width: 100px;height: 100px; box-shadow: 2px 2px 2px 2px #f5f4f1;rotate: 270deg;" class="rotated-fasterfaster bg-darkest rounded-circle"></div>
</div>
