.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

form{
  margin-inline: 35%;
  margin-top: 100px;
  padding-inline: 40px;
}

mat-card,.mat-card{
  box-shadow:  0 0px 20px 0 rgba(0, 0, 0, 0.16), 0 0 0 1.0px rgba(0, 0, 0, 0.08);
  background-color: rgb(37, 37, 37);
  color: rgb(212, 212, 212);
}

mat-card-header{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
