.example-loading-shade {
    margin-top: 100px;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-darkest {
    background-color: rgba(37, 37, 37);
    color: whitesmoke;
}

.accept::before {
    content: "";
}

.accept {
    width: 50px;
    height: 50px;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 90px;
    transition: 1.5s;
    background-color: #5cb85c;
    box-shadow: 1px 1px 1px rgb(12, 12, 12);
}

.auth::before {
    content: "Autenticar";
}

.auth {
    width: 120px;
    height: 50px;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #d4352f;
    box-shadow: 1px 1px 1px rgb(12, 12, 12);
}

.contenedor {
    display: flex;
    flex-direction: row;
    color: white;
    border-radius: 10px;
}

.contenedores {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(37, 37, 37);
}

.form {
    padding: 40px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    color: #d4352f;
}

.icono {
    margin-top: 50px;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(60deg, rgba(0, 0, 0, 0.87) 0%, #d4352f 100%), url('/assets/ctc-background.jpg');
    background-blend-mode: multiply;
}

input::placeholder {
    color: #d4352f;
}

.activated-super:hover {
    width: 120px;
    height: 120px;
    transition: 200ms;
}

.img {
    width: 100px;
    height: 100px;
    padding: 5px;
    background-color: rgb(150, 54, 54);
    /* filter: hue-rotate(270deg); */
}
