<mat-sidenav-container class="sidenav-content">
    <mat-sidenav #drawer class="sidenav  bg-darkest" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" mode="side" [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="deep-orange">
            <!-- <mat-icon class="example-header-image" matTooltip="{{nombre}}">account_circle</mat-icon> -->
            <img src="{{src_avatar}}" class="rounded-circle" style="width: 50px;height: 50px; margin-right: 10px;" matTooltip="{{nombre}}">
            <div style="display: block;">
            <section style="font-size: 15px;">{{user}}</section>
            <section style="font-size: 10px;">{{rol}}</section>
          </div>
        </mat-toolbar>
        <mat-nav-list>
            <app-menu></app-menu>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="deep-orange">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>Sistema</span>
            <!-- <div class="login-icon-toolbar">
              <mat-icon>account_circle</mat-icon>
            </div> -->
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>
