.contenedor {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    max-width: 300px;
}

.bg-darkest {
    background-color: rgba(37, 37, 37);
    color: whitesmoke;
}

.bg-warn {
    background-color: #f44336;
    color: white;
}

.modal-header {
    display: flex;
    flex-direction: column;
}

.accept::before {
    content: "";
}

.accept {
    width: 50px;
    height: 50px;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 90px;
    transition: 1.5s;
    background-color: #5cb85c;
    box-shadow: 1px 1px 1px rgb(12, 12, 12);
}

.auth::before {
    content: "Autenticar";
}

.auth {
    width: 120px;
    height: 50px;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #d4352f;
    box-shadow: 1px 1px 1px rgb(12, 12, 12);
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: white;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: white!important;
  opacity: 0.8!important;
}
/* // mat-input carent color */

::ng-deep .mat-input-element {
  caret-color: white!important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: white;
}
